.teach-main {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.teach-head {
  text-align: center;
}

.teach-container {
  display: flex;
  justify-content: space-between;
}

.teach-students {
  flex: 1;
}

.teach-students h2,
.teach-units h2,
.teach-grading h2 {
  margin-bottom: 10px;
}

.teach-student {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.teach-student.selected {
  background-color: #007bff;
  color: white;
}

.teach-units {
  flex: 1;
  margin-left: 20px;
}

.teach-unit-dropdown {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.teach-score {
  margin-bottom: 10px;
}

.teach-score label {
  display: block;
  margin-bottom: 5px;
}

.teach-score-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.teach-submit-btn {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.teach-submit-btn:hover {
  background-color: #0056b3;
}

.teach-grading {
  flex: 1;
  margin-left: 20px;
}

.teach-grade-item {
  margin-bottom: 5px;
}

.teach-grade-btn {
  padding: 5px 10px; /* Adjust padding to make the buttons smaller */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.teach-grade-btn:hover {
  background-color: #007bff;
  color: white;
}