.student_app {
  display: flex;
  height: 100vh;
  padding-bottom: 3rem;
}

.stu-sidebar {
  background-color: #ffffff; 
  border-right: 1px solid #cccccc;
  width: 25%; 
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1; 
  overflow-y: auto; 
}

.sidebar-item {
  padding: 10px;
  border-bottom: 1px solid #cccccc; 
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #f0f0f0; 
}

.sidebar-item-title {
  color: #007bff; 
  font-size: large;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%; 
  margin-bottom: 20px;
  height: 0;
  margin: 0 auto;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}

.quiz-container {
  border-top: 1px solid #cccccc; 
  padding-top: 20px;
  width: 100%; 
  overflow-y: auto;
  height: 100%; 
  margin-bottom: 20px; 
  overflow-y: scroll;
}

.quiz-box {
  margin-bottom: 20px;
}

.quiz-container.scrollable {
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-question {
  margin-bottom: 20px;
}

.quiz-question h2 {
  font-size: 1.5em;
  color: #1e90ff;
}

.quiz-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.quiz-option {
  background-color: #1e90ff;
  width: 45%;
  color: white;
  border: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quiz-option:hover {
  background-color: #1c86ee;
}

.quiz-selected {
  background-color: #104e8b;
}

.quiz-correct {
  background-color: #32cd32;
}

.quiz-incorrect {
  background-color: #ff6347;
}

.quiz-answer {
  margin-top: 20px;
}

.quiz-next {
  background-color: #1e90ff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quiz-next:hover {
  background-color: #1c86ee;
}

.quiz-reset {
  margin-top: 30px;
}

.quiz-reset{
  /* background-color: #4CAF50;  */
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 20px 0; 
  cursor: pointer;
  border-radius: 12px; 
  transition-duration: 0.4s;
}
.quiz-rst{
  /* background-color: #4CAF50;  */
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 20px 0; 
  cursor: pointer;
  border-radius: 12px; 
  transition-duration: 0.4s;
}


.well-done-message {
  font-size: 2em;
  color: #32cd32;
}

.well-done-reset {
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.well-done-reset:hover {
  background-color: #e03e00;
}

.attended-questions {
  margin-top: 20px;
  text-align: left;
}

.attended-questions h3 {
  font-size: 1.2em;
  color: #1e90ff;
}

.attended-questions ul {
  list-style-type: none;
  padding: 0;
}

.attended-questions li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.correct-answer input[type="radio"] {
  accent-color: #32cd32;
}

.incorrect-answer input[type="radio"] {
  accent-color: #ff6347;
}

.quiz-wrapper {
  display: flex;
}

.quiz-solution {
  flex: 0 0 300px; 
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ffeeba;
  background-color: #fff3cd;
  border-radius: 5px;
}

.quiz-solution p {
  color: #856404;
  font-weight: bold;
}

.quiz-navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.quiz-prev,
.quiz-next {
  background-color: #1e90ff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quiz-prev:hover,
.quiz-next:hover {
  background-color: #1c86ee;
}

.quiz-prev:disabled,
.quiz-next:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.show-solution-button{
  background-color: #1e90ff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.qt-attended-questions {
  text-align: center;
}

.qt-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.qt-questions-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.qt-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  margin: 0 5px;
}

.qt-correct-answer {
  background-color: rgb(26, 225, 26);
}

.qt-incorrect-answer {
  background-color: rgb(246, 7, 7);
}
.subunit-list {
  list-style-type: none;
  padding: 0;
}

.subunit-item {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  background-color: #f0f0f0;
}

.subunit-item:hover {
  background-color: #e0e0e0;
}

.finish-button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 8px;
}

.finish-button:hover {
  background-color: #0056b3;
}

.quiz-reset{
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 20px 0; 
  cursor: pointer;
  border-radius: 12px; 
  transition-duration: 0.4s;
}