.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-container {
  width: 80%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 30%;
  margin-left: 30%;
}

.form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-group {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 800px;
}

.sub-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #007bff; /* Primary color for the button */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; 
  margin: 5% 2% 0% 20%; 
}

.sub-button:disabled {
  background-color: #cccccc; 
  cursor: not-allowed; 
}

.sub-button:not(:disabled):hover {
  background-color: #0056b3;
}

.question-container {
  margin-top: 20px;
}

.option-container {
  display: flex;
  flex-direction: column;
}