.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.title {
  font-size: 24px;
  font-weight: bold;
}

.add-section-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Quiz and video form styles */
.quiz-form, .video-form, .unit-form {
  padding: 20px;
  background-color: #e9e9e9;
  border-radius: 8px;
  margin-bottom: 20px;
}

.question-form {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.close-button {
  float: right;
  background-color: #dc3545;
}

.close-button:hover {
  background-color: #c82333;
}

.add-question-button {
  background-color: #28a745;
}

.add-question-button:hover {
  background-color: #218838;
}

.add-quiz-button, .add-video-button, .add-unit-button {
  background-color: #17a2b8;
  margin-right: 10px;
}

.add-quiz-button:hover, .add-video-button:hover, .add-unit-button:hover {
  background-color: #138496;
}

.submit-button {
  background-color: #007bff;
}

.submit-button:hover {
  background-color: #0056b3;
}

.navbar-logo {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  padding: 10px; /* Add some padding for spacing */
  margin: 0; /* Reset margin */
  display: block; /* Make it a block element */
  transition: transform 0.3s ease; /* Smooth transform on hover */
}